@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/bold/gotham-bold-webfont.eot');
    src: url('../fonts/gotham/bold/gotham-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/bold/gotham-bold-webfont.woff') format('woff'),
        url('../fonts/gotham/bold/gotham-bold-webfont.ttf') format('truetype'),
        url('../fonts/gotham/bold/gotham-bold-webfont.svg#gothmbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/book/gotham-book-webfont.eot');
    src: url('../fonts/gotham/book/gotham-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/book/gotham-book-webfont.woff') format('woff'),
        url('../fonts/gotham/book/gotham-book-webfont.ttf') format('truetype'),
        url('../fonts/gotham/book/gotham-book-webfont.svg#gothmbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('../fonts/gotham/medium/gotham-medium-webfont.eot');
    src: url('../fonts/gotham/medium/gotham-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/medium/gotham-medium-webfont.woff') format('woff'),
        url('../fonts/gotham/medium/gotham-medium-webfont.ttf') format('truetype'),
        url('../fonts/gotham/medium/gotham-medium-webfont.svg#gothmmedium') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/gotham/rounded/bold/gothamrounded-bold-webfont.eot');
    src: url('../fonts/gotham/rounded/bold/gothamrounded-bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/rounded/bold/gothamrounded-bold-webfont.woff') format('woff'),
        url('../fonts/gotham/rounded/bold/gothamrounded-bold-webfont.ttf') format('truetype'),
        url('../fonts/gotham/rounded/bold/gothamrounded-bold-webfont.svg#gothm_rounded_boldbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/gotham/rounded/light/gothamrounded-light-webfont.eot');
    src: url('../fonts/gotham/rounded/light/gothamrounded-light-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/rounded/light/gothamrounded-light-webfont.woff') format('woff'),
        url('../fonts/gotham/rounded/light/gothamrounded-light-webfont.ttf') format('truetype'),
        url('../fonts/gotham/rounded/light/gothamrounded-light-webfont.svg#gothm_rounded_lightlight') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/gotham/rounded/medium/gothamrounded-medium-webfont.eot');
    src: url('../fonts/gotham/rounded/medium/gothamrounded-medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/rounded/medium/gothamrounded-medium-webfont.woff') format('woff'),
        url('../fonts/gotham/rounded/medium/gothamrounded-medium-webfont.ttf') format('truetype'),
        url('../fonts/gotham/rounded/medium/gothamrounded-medium-webfont.svg#gothm_rounded_mediummedium') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/gotham/rounded/mediumitalic/gothamrounded-mediumitalic-webfont.eot');
    src: url('../fonts/gotham/rounded/mediumitalic/gothamrounded-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/rounded/mediumitalic/gothamrounded-mediumitalic-webfont.woff') format('woff'),
        url('../fonts/gotham/rounded/mediumitalic/gothamrounded-mediumitalic-webfont.ttf') format('truetype'),
        url('../fonts/gotham/rounded/mediumitalic/gothamrounded-mediumitalic-webfont.svg#gothm_rounded_mediumMdIt') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Rounded';
    src: url('../fonts/gotham/rounded/book/gothamrounded-book-webfont.eot');
    src: url('../fonts/gotham/rounded/book/gothamrounded-book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/gotham/rounded/book/gothamrounded-book-webfont.woff') format('woff'),
        url('../fonts/gotham/rounded/book/gothamrounded-book-webfont.ttf') format('truetype'),
        url('../fonts/gotham/rounded/book/gothamrounded-book-webfont.svg#gothm_rounded_bookbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: "Gotham",
        helvetica,
        arial,
        sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

body {
    margin: 0;
    font-family: "Gotham",
        helvetica,
        arial,
        sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1;
    color: #212529;
    text-align: left;
    background-color: #fff;
}

#mainNav {
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgba(0, 0, 0, 0.9);
    -webkit-transition: background-color 0.2s ease;
    transition: background-color 0.2s ease;
}

#mainNav .navbar-brand {
    font-family: "Gotham",
        helvetica,
        arial,
        sans-serif;
    font-weight: 700;
    color: #212529;
}

#mainNav .navbar-nav .nav-item .nav-link {
    color: #6c757d;
    font-family: "Gotham Rounded",
        helvetica,
        arial,
        sans-serif;
    font-size: 1rem;
    padding: 0.75rem 0;
    border-right: 1.5px solid #606566;
    font-weight: 200;
}

#mainNav .izq {
    border-right: none !important;
}

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: white;
}

#mainNav .navbar-nav .nav-item .nav-link.active {
    color: white !important;
}

.navbar-light .navbar-toggler {
    color: white;
    border-color: transparent;
    font-size: 25px;
}


.navbar-light .navbar-toggler:hover {
    color: #16f3ff;
    border-color: transparent;
    transition: 2s;
}

@media (min-width: 992px) {
    #mainNav {
        -webkit-box-shadow: none;
        box-shadow: none;
        background-color: transparent;
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
        visibility: hidden;
    }

    #mainNav .navbar-brand:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(59, 66, 65, 0.7);
        /*color: rgba(255, 255, 255, 0.7);  ELIMINAR*/
        padding: 0 1rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }

    #mainNav.navbar-scrolled {
        -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: rgba(0, 0, 0, 0.9);
    }

    #mainNav.navbar-scrolled .navbar-brand {
        color: white;
        visibility: visible;
    }

    #mainNav.navbar-scrolled .navbar-brand:hover {
        color: white;
        border-color: transparent;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        border-right: 1px solid white;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
        color: #16f3ff;
    }
}


header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: url("../img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;

}

header.masthead-mapa {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    background: url("../img/mapa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    min-height: 1000px;
}

header.masthead-altavilla {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 72px);
    /*background: url("../img/altavilla.jpg");*/
    background: url("../img/altavilla.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

header.masthead h1 {
    font-size: 2.25rem;
}

header h1 {
    font-size: 4.5rem;
    text-transform: uppercase;
    color: white;
    font-family: "Gotham",
        helvetica,
        arial,
        sans-serif;
    font-weight: 200;
    word-wrap: break-word;
}

header h5 {
    color: white;
    font-family: 'Gotham Rounded';
    font-weight: 200;
    font-style: italic;
    font-size: 1.5em;
}

header p {
    color: white;
    font-family: 'Gotham';
    font-weight: normal;
    font-style: normal;

}

.imagenPie {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    font-size: .95em;
    text-align: center;
    margin: 20px 0;
    overflow-wrap: anywhere;
    font-weight:lighter;
}

.cuadroVideo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.cuadroVideo video {
    padding-bottom: 5px;
    height: auto;
    width: 100%;
    max-width: 400px;
}

.cuadroVideo p {
    font-size: 0.75em;
    text-align: center;
    margin: 20px 0;
    overflow-wrap: anywhere;
}

@media (min-width: 992px) {
    header.masthead {
        height: 100vh;
        min-height: 40rem;
        padding-top: 72px;
        padding-bottom: 0;
    }

    header.masthead p {
        font-size: 1.15rem;
    }

    header.masthead h1 {
        font-size: 3rem;
    }
}

@media (min-width: 1200px) {
    header.masthead h1 {
        font-size: 3.5rem;
    }
}

.cuadro-azul {
    position: relative;
    width: 72%;
    height: 520px;
    padding: 30px;
    overflow: hidden;
}

.cuadro-azul::before {
    content: '';
    width: 100%;
    height: 70%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    background-color: #14b8c1;
    opacity: .5;
    /* mix-blend-mode: multiply; */
}

/*INICIO DE BOTONES*/

.shadow-effect {
    border: none;
    color: white;
    padding: 14px 28px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #17a2b8;
    /* Color base del botón */
    transition: box-shadow 0.3s ease-in-out;
    /* Transición suave del efecto de sombra */
    margin: 10px;
}

.shadow-effect:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
    /* Aumenta el desplazamiento y la opacidad de la sombra */
}

/*FIN DE BOTONES*/

@media (max-width: 700px) {
    .cuadro-azul {
        width: 100%;
    }
}

.img-logo {
    position: absolute;
    z-index: 2;
    max-width: 100%;
    text-align: left;
}

@media (max-width: 992px) {
    .logo-huellas {
        height: 250px;
    }
}

@media (max-width: 900px) {
    .logo-huellas {
        height: 200px;
    }
}

@media (max-width: 710px) {
    .logo-huellas {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .logo-huellas {
        display: none;
    }
}


#category-intro-text::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(220, 235, 255, 0.8);
    mix-blend-mode: lighten;
}

.h-100 {
    height: 100% !important;
    max-width: 100%;
    margin-left: 0;
}

hr {
    margin-top: 2rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 2px solid white;
}

.page-section {
    padding: 4rem 0;
}

.bg-white {
    background-color: white;
}

.bg-gray {
    background-color: #3a6b68;
    /*background-color: #333333;*/
}

.bg-green {
    background-color: #0b9299;
}

.bg-black {
    background-color: black;
}

p {
    font-family: "Gotham Rounded",
        helvetica,
        arial,
        sans-serif;
    font-size: 1.2rem;
    font-weight: 100;
}

@media (max-width: 768px) {
    p {
        font-size: 1rem;
    }
}

h2 {
    font-family: "Gotham Rounded",
        helvetica,
        arial,
        sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    word-wrap: break-word;
}

@media (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}

.h2-mini {
    font-size: 2.3rem;
}

.h2-bold {
    font-family: "Gotham",
        helvetica,
        arial,
        sans-serif;
    font-weight: bold;
}

.h3-litle {
    font-family: "Gotham",
        helvetica,
        arial,
        sans-serif;
    font-size: 1.5rem;
        text-transform: uppercase;
        letter-spacing: 3px;
        word-wrap: break-word;
}

.parallax {
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 100px;
}

.obj {
    background-image: url("../img/bg-objetivos.jpg");
}


.altavilla {
    background-image: url("../img/altavilla-parallax.jpg");
    min-height: 500px;
}
/*
.altavilla {
    background-image: url("../videos/Aragon_Video3_Corte1.mp4");
    min-height: 500px;
}*/

@media (max-width: 630px) {
    .parallax {
        padding: 10px;
    }
}


.borde {
    position: relative;
    width: 100%;
    height: auto;
}

.borde-blanco {
    position: relative;
    width: 100%;
    height: auto;
}

.borde-blanco:after {
    display: block;
    content: "";
    width: 40%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -10px;
    border-top: 1.5px solid #fff;
    border-right: 1.5px solid #fff;
}

.borde:after {
    display: block;
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: -10px;
    border-top: 1.5px solid #000;
    border-right: 1.5px solid #000;
}

.borde2:before {
    display: block;
    content: "";
    width: 80%;
    height: 100%;
    position: absolute;
    bottom: 0px;
    left: -10px;
    border-bottom: 1.5px solid #000;
    border-left: 1.5px solid #000;
}

.padding-borde {
    padding: 60px 30px 10px 30px;
}

.objetivo-contenido {
    padding: 50px;
}

.parallax-contacto {
    /* The image used */
    background-image: url("../img/bg-contacto.jpg");
    /* Set a specific height */
    /* min-height: 300px; */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    padding: 100px;
}

@media (max-width: 630px) {
    .parallax-contacto {
        padding: 120px 10px;
    }
}

.text-white {
    color: white;
}

label,
.form-text {
    color: white;
    font-family: "Gotham Rounded",
        helvetica,
        arial,
        sans-serif;
    font-size: 1rem;
    font-weight: 100;
}

.form-control {
    border-radius: 0;
}

.enviar {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 0;
    padding: 10px 25px;
    font-family: "Gotham",
        helvetica,
        arial,
        sans-serif;
    font-size: 1rem;
    font-weight: 200;
}

.enviar:hover {
    background-color: #16f3ff;
    color: black;
    transition: 2s;
    border-color: white;
}

.enviar:active {
    background-color: black !important;
    border: #16f3ff !important;
    box-shadow: 0 1px 1px #16f3ff inset,
        0 0 8px #16f3ff !important;
    outline: 0 none;
}

footer {
    background-color: #333333;
    border-top: 1.5px solid #415655;
}

footer p {
    font-family: "Gotham Rounded",
        helvetica,
        arial,
        sans-serif;
    font-size: .9rem;
    font-weight: 100;
}

.redes {
    background-color: white;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    display: inline-block;
    margin: 10px;
}

.redes:hover {
    background-color: #16f3ff;
    transition: 1s;
}

.link-redes:hover {
    color: transparent;
}

.redes-icono {
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #333333;
}

.face {
    margin: 14px 20px;
}

.twitt {
    margin: 14px 15px;
}

.insta {
    margin: 14px 16px;
}

.you {
    margin: 14px 13px;
}

.redes-contenedor {
    display: contents;
}

.a-footer {
    color: white;
    display: block;
    margin-top: 10px;
    font-family: "Gotham Rounded",
        helvetica,
        arial,
        sans-serif;
    font-size: 1.1rem;
    font-weight: 100;
}

.a-footer:hover {
    color: #16f3ff;
    transition: 1s;
    text-decoration: none;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}

.comillas {
    font-family: "Gotham", helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 405px;
    line-height: 0;
    display: flex;
    justify-content: flex-end;
    opacity: 0.8;
    color: #041821;
}

.comillas-blancas {
    font-family: "Gotham", helvetica, arial, sans-serif;
    font-weight: 200;
    font-size: 380px;
    line-height: 0;
    display: flex;
    justify-content: center;
    opacity: 0.8;
    color: white;
}


.head-obj {
    top: 60%;
    position: absolute;
}

.alto {
    height: 250px;
    word-break: break-word;
}
